.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  transition: background-color 0.3s;
  animation: fadeIn 1.5s ease-out forwards;
}

.header__title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--title-color);
}

.header__image {
  width: 200px;
  height: auto;
  image-rendering: auto;
  animation: shrinkLogo 1.5s ease-out forwards;
}
