.quiz__result {
  padding: 1.5rem;
  background-color: var(--result-background);
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.quiz__result-title {
  font-size: 1.25rem;
  color: #325d79;
  margin-bottom: 0.5rem;
}

.quiz__result-text {
  color: var(--result-text);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.quiz__joke {
  margin-top: 20px;
  text-align: center;
}

.quiz__joke-text {
  font-size: 1.2rem;
  color: var(--result-text);
  max-width: 500px;
  margin: 0 auto;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}
